<div class='alert' style='background-color: #273333; color: #E5E7E8; padding:26px 26px; border-radius:15px; font-size:40px;'><B>Show Up </B> for Health - %run model_predict.py</div><span style='color: #273333; padding:26px 26px; font-size:11px;'> Powered by <B>AutoNote </B>&<b> Show Up for Health</b> Project</B></span><div style='margin:4px 26px; color:#273333; font-size:17px;'>

In [23]:
from showupforhealth.utils import *
from showupforhealth.params import *
from showupforhealth.interface.model_predict import *

# "magic commands" to enable autoreload of your imported packages
%load_ext autoreload
%autoreload 2

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 1000

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
%run ../showupforhealth/interface/model_predict.py

ECS - Earls Court Surgery
TGP - The Good Practice
TCP - The Chelsea Practice
SMW - Stanhope Mews West
KMC - Knightsbridge Medical Centre
HPVN - Health Partners at Violet Melchett
Enter Surgery Prefix to continue: KMC


=== Preparing Appoitment Data for Prediction =================================
üå§Ô∏è Prediction: KMC - preparing appointment data for weather
üë©üèª‚Äçü¶∞ Appointments: 4063 üßëüèª‚Äçü¶∞ Unique Patient IDs; 2037
üõú Requesting forcast from Open-Meteo Weather API 2023-08-21 - 2023-09-11
üîÇ Merge weather + appointment data
‚úÖ Successful: return df
üëâ Appointment DF in: (4063, 11)
üîÄ Disease Register merged with prediction data - (4063, 32)
‚ùå Drop NaN - Disease Register Merge = 70
‚õΩÔ∏è Fill NaN (0) - No Shows Merge

=== Feature Engineering =============================================================
üîÇ Rename Columns
üîÇ Drop deseased and deducted
üîÇ Columns to Datetime
üîÇ Fix Appointment Time
üîÇ book_to_app_days
üîÇ booked_by_clinician
üîÇ Extract Rota Types
üîÇ registered_for_months
üîÇ Week
üîÇ Month
üîÇ Day of week
üîÇ Convert Cyclical data
üîÇ Drop Column no longer needed
üîÇ Rows dropped from Rotas other than spec: 129
üîÇ Rows from with Negative book_to_app_days: 3
üîÇ Drop rows with Sex Unknonw & Indeterminate
üîÇ Labelencode Column Sex
üîÇ OneHotEncode Rota types
üîÇ Extract Ethnicity Category
üîÇ OneHotEncode Ethnicity
üîÇ Drop NaN
‚úÖ Done in 0.06 sec (3820, 37)
‚ùóÔ∏èTEST PASSED - df has 37 columns!

‚ñ∂Ô∏è Select Scaler + Model:
1. jan_scaler_17sept23 + model16sept23_jan
2. Jan Backup 22 Sept 9am
3. Gentle Water undersample 0.15
Enter Selection: 2

120/120 [==============================] - 0s 416us/step
No shows Predicted at 0.4 threshold: 1
No shows Predicted at 0.5 threshold: 16
No shows Predicted at 0.6 threshold: 37
No shows Predicted at 0.7 threshold: 81
No shows Predicted at 0.8 threshold: 132
Select Threshold to continue: 0.8

-- Unique Predicted No Shows --------------------------
Duplicates Dropped: 16
df shape: (116, 2)

      Patient ID  Model_Prediction
1       19788591                 0
4       17738646                 0
9       47547970                 0
15      23764789                 0
22      47303139                 0
24      33433500                 0
44      47302221                 0
51      47528139                 0
79      31313400                 0
83      50904584                 0
84      49634567                 0
86      47521566                 0
88      47548330                 0
94      47519433                 0
101     47301072                 0
102     47284207                 0
109     25625621                 0
117     59777477                 0
131     39663934                 0
137     20029847                 0
142     42232298                 0
146     47302851                 0
147     47794245                 0
150     32022013                 0
172     53687382                 0
175     47527310                 0
184     47520983                 0
197     47302563                 0
200     17738881                 0
217     62033653                 0
219     29311597                 0
226     61338440                 0
237     62140671                 0
240     18895927                 0
242     30074444                 0
258     59586395                 0
264     38573397                 0
272     10353300                 0
273     47526405                 0
275     33192081                 0
276     50365240                 0
291     54315553                 0
299     26059260                 0
300     47549003                 0
303     49838414                 0
317     32020088                 0
321     47548939                 0
326     49879254                 0
332     60105333                 0
345     47547829                 0
350     18281238                 0
360     47300807                 0
362     56916870                 0
363     47521196                 0
392     60057454                 0
394     25655145                 0
402     16955923                 0
404     47549026                 0
405     47301020                 0
409     47530039                 0
427     20022195                 0
432     47304172                 0
443     47529253                 0
448     47546914                 0
453     19896475                 0
454     19868199                 0
456     47548047                 0
457     35961976                 0
489     23174477                 0
494     50231610                 0
513     51915441                 0
726     31563604                 0
728     47521410                 0
736     51898378                 0
764     21692035                 0
778     22045285                 0
786     39991842                 0
986     48650400                 0
999     21840178                 0
1000    30511091                 0
1001    40941670                 0
1008    61920451                 0
1021    58832791                 0
1267    47549322                 0
1275    47547035                 0
1290    47546834                 0
1292    17207085                 0
1295    18668816                 0
1297    47528259                 0
1499    42512254                 0
1507    59896982                 0
1508    32435726                 0
1518    54273139                 0
1727    62190368                 0
1730    47547244                 0
1736    47526925                 0
1748    22770921                 0
1771    47547865                 0
1772    20302949                 0
1780    47547992                 0
2017    50679539                 0
2021    53433343                 0
2023     1449652                 0
2031    21343587                 0
2270    47528506                 0
2279    61280356                 0
2283    47528248                 0
2290    58833680                 0
2480    60401371                 0
2748    47549511                 0
2963    46708451                 0
2976    10340434                 0
3352    23500528                 0
3495    50547775                 0
3509    24214944                 0
3672    59931341                 0


-----